@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: auto;
}
a
{
text-decoration: none;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
scroll-behavior: smooth;
  
}
.cont
{
    display: flex;
    justify-content: right;

}
.navbar{
    display: flex;
    margin-right: 180px;
    
}
i
{
   
}

.name
{
margin-right: 580px;
text-decoration: none;

}
.img img{
    height: 200px;
    width:200px;
    border-radius: 100px;
    margin-top: 35px;
    margin-left: 400px;
    margin-right: 60px;
    
    
}
.section
{
    margin-top: 25px;
}
.img{
    display: flex;
 margin-top: 100px;
}
.first
{
    color: dimgray;
   
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  margin-left:  48px;
}
.second
{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -23px;
}
.third
{
    color: dimgray;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -23px;
}
.btn
{
    border-radius: 15px;
    padding: 7px;
    font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
}

.section .btn2
{
    border-radius: 15px;
    padding: 7px;
    font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   background-color: black;
   color: antiquewhite;
}
.img i{
    float: left;
    margin-left: 50px;
}
.img #I2{
    margin-left:10px;

}
.btn:hover
{
background-color: grey;
    cursor: pointer;
  color: aliceblue;
}
.btn2:hover
{
    background-color: grey;
    cursor: pointer;
  color: aliceblue;
    
}
.About
{
    color: dimgray;
    font-family: "Poppins", sans-serif;

  font-style: normal;
}
.more
{
 text-align: center;
  margin-top: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.me{
  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -25px;
}
#pic
{
    height: 300px;
    width: 300px;
    margin-left:20px;
    border-radius: 10px;
}
.exp2
{
    border: solid;
    width: max-content;
    border-radius: 50px;
    border-color: dimgray;
    padding-left: 60px;
    padding-right: 70px;
    margin-bottom: 80PX;
    margin-top: 10PX;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
#h3
{
   
}
#ex2 
{
    margin-left: 50px;
  color: dimgray;
  margin-top: -20px;
}
#Edu2
{
    color: dimgray; 
}
#ex{
    margin-left: 20px; 
    margin-top: -20px;
}
#ex3
{
    margin-left: 15px; 
    color: dimgray;
    margin-top: -20px; 
    margin-left: 5px; 
}
.exp3
{
    border: solid;
   
    border-radius: 50px;
    border-color: dimgray;
    padding-left: 60px;
    padding-right: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    margin-bottom: 80PX;
    margin-top: 10PX;
    font-style: normal;
    
}
.pic
{
    display: flex;
}
.exp
{
    display:flex;
    margin: 10px;
    margin-left: 80px;

   
}
.exp2{
    margin-right:50Px;

}
.exp2 #user
{
    margin-left: 70px;
}
.exp3 #user2
{
    margin-left: 70px;
}

#Edu
{
margin-left: 25px;
margin-top: -20px;
}
#Edu2
{
    margin-top: -20px;

}
.txt
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;  
    text-align: justify;
    text-justify: inter-word;
    margin-left: 50px;
    margin-right: 50px;
}
.new2
{
    color: dimgray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 50px;
}
.new3
{
    
    font-family: "Poppins", sans-serif;
     font-style: normal;
     margin-top: -25px;
}
.new{
margin-left: 600px;
}
.new3
{
    margin-left: -50px;  
}

.dev2 h1{
    padding-left:50px;
    padding-right:50px;
   
}
.dev3
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    

}

.dev
{
border: solid;
width: max-content;
margin-top: 40px;
border-radius: 40px;
width: max-content;
margin-left: 100px;
 border-color: dimgray;

}
.list1
{
    float: left;
    font-family: "Poppins", sans-serif;
    
    font-style: normal; 
}
.list1 .Expe
{
    color: dimgray;
}
.list2 .Expe
{
    color: dimgray;
}
.list1 h3
{
font-weight: normal;

}
.list2 h3
{
    font-weight: normal;
    color: black;

}
.list2
{  
   margin-left: 190px;
    margin-top: 37px;
   font-family: "Poppins", sans-serif;
   font-style: normal;


}
.Back
{
    float: left;  
    font-family: "Poppins", sans-serif;

    font-style: normal; 
    
}
.Back h3{
    font-weight: normal;
}
.Back .Expe
{
    color: dimgray;
}
.Back2 .Expe
{
    color: dimgray;
}

.Back2
{
   margin-left:200px ;
   font-family: "Poppins", sans-serif;
   font-style: normal; 
   margin-top: 37px;
   
}
.Back2 h3
{
    font-weight: normal;
}
.dev7
{
    border: solid;
    margin-top: 40px;
    border-radius: 40px;
    width: max-content;
    margin-left: 100px;
    border-color: dimgray;
}
.Dev6 h1
{
   
        padding-left:80px;
        padding-right:50px;
       
   
}
.full ol{
    margin-left: -55px;
    }
.full ol i{
     margin: 2px;
     padding: 5px;
     padding-left: 50px;
    }
.full{
    display: flex;
    margin-left: 100px;
}
.full p
{
padding-left: 30px;
margin-top: -15px;
}
.browser
{
    text-align: center;
    margin-top: 80px;
}

.line1
{
    color: dimgray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.line2
{
    
    font-family: "Poppins", sans-serif;
     font-style: normal;
     margin-top: -20px;
}
.project img{
    height:400px;
    width:300px;
 border-radius: 50px;

}
.pro1 
{
    margin-left: 90px;
    color: black;
}
.project button
{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 40px;
padding-right: 40px;
margin-left: 10px;
border-radius: 510px;
background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.project .btn2
{
    margin-left: 8px;
}
.project .btn1
{
    margin-left: 5px; 
}
.project
{
    border: solid;
    width: max-content;
    padding: 10px;
    border-radius: 50px;
    color: gray;
}
.project2 img{
    height:400px;
    width:300px;
 border-radius: 50px;

}
.project2 .btn3
{
    margin-left: 8px;
}
.project2 .btn4
{
    margin-left: 5px; 
}
.project2
{
    border: solid;
    width: max-content;
    padding: 10px;
    border-radius: 50px;
    color: gray;
}
.project2 button
{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 40px;
padding-right: 40px;
margin-left: 10px;
border-radius: 510px;
background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.pro2
{
margin-left: 90px;
color: black;
}
.project3 img{
    height:400px;
    width:300px;
 border-radius: 50px;

}
.project3 .btn5
{
    margin-left: 8px;
}
.project3 .btn6
{
    margin-left: 5px; 
}
.project3
{
    border: solid;
    width: max-content;
    padding: 10px;
    border-radius: 50px;
    color: gray;
}
.project3 button
{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 40px;
padding-right: 40px;
margin-left: 10px;
border-radius: 510px;
background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.pro3
{
    margin-left: 90px;
color: black;

}
.fullproject
{
    display: flex;
    padding-left: 10px;
}

.pr{
    margin-right: 45px;
   
   
}
.pr2
    {
        margin-right: 50px;
        margin-left: 20px;
    
}
.fullproject
{
    margin-left: 85px;
 
}
.browser1
{
    text-align: center;
    margin-top: 80px;
}

.line3
{
    color: dimgray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.line4
{
    
    font-family: "Poppins", sans-serif;
     font-style: normal;
     margin-top: -20px;
}
.browser1 button
{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 40px;
padding-right: 40px;
margin-left: 10px;
border-radius: 510px;
background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.contt
{
    text-align: center;
    margin-top: 50px;
    margin-left: 35%;
    color: dimgray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.fltbtn {
    display: flex;
    justify-content: right;
    position: fixed; /* Fix the position to make it float */
    bottom: 20px; /* Set the distance from the bottom */
    right: 20px; /* Set the distance from the right edge */
    z-index: 999;
  /* Ensure it stays on top of other elements */
  }
  .fltbtn
  {
    display: block;
  }
  
  .fltbtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Optional background color */
    color: #fff; /* Optional text color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 50%; /* Make it a circle */
  }
  
  .fltbtn i {
    font-size: 30px;
  }
  #flt {
    display: none; /* Hide initially */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999; /* Ensure it stays above other content */
}
