a
{
text-decoration: none;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
scroll-behavior: smooth;
  
}
.cont
{
    display: flex;
    justify-content: right;

}
.navbar{
    display: flex;
    margin-right: 180px;
}
i
{
    margin-right: 5px;
}

.name
{
margin-right: 580px;
text-decoration: none;

}
img{
    height: 150px;
    width:150px;
    border-radius: 80px;
   
    margin-top: 130px;
    margin-left: 400px;
}
.first
{
    color: dimgray;
   
   font-family: Tahoma, sans-serif;
  margin-left:  48px;
}
.third
{
    color: dimgray;
   
   font-family: Tahoma, sans-serif; 
}